.*.swp
*.o
*.lo
*.dep
*.gcno
*.gcda
test_ntl
test_glpk
test_grb
test_closest
test_context
test_benchmark
test_blt
test_regression
test_expr
test_parser
test_yices
test_compare_glpk_yices
tags
libblt.so
libblt.a
libblt.la
libblt.dylib
run_blt
latcon2bilp
config.mk
